body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #0ea62770;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: #273bba;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #e9ecef;
}

main {
    padding: 2rem;
}

main .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

main .box {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    flex-basis: 45%;
}

main .box h2 {
    margin-top: 0;
}

.col-6 {
    flex-basis: 45%;
}